// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.col-3{
  background-color: rgb(255, 0, 166);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  text-align: center;
  //margin-top: 40px;
  margin-bottom: 40px;
  padding: 70px;
}

.col-12{
  color: white; 
  padding-bottom: 20px;
  font-size: 25px;
}

.col-6{
  color: white; 
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.col-9{
  text-align: center;
  padding: 60px;
}

.sindanbotan{
  text-align: center;
  margin-top: 50px;
}

h5{
  font-size:30px;
}

.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:1%;
right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}
@keyframes arrowmove{
  0%{bottom:1%;}
  50%{bottom:3%;}
 100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
/*描画位置*/
position: absolute;
left:-20px;
bottom:10px;
/*テキストの形状*/
color: #eee;
font-size: 0.7rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
-webkit-writing-mode: vertical-rl;
writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
content: "";
/*描画位置*/
position: absolute;
bottom: 0;
right: -6px;
/*矢印の形状*/
width: 1px;
height: 20px;
background: #eee;
transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
/*描画位置*/
position: absolute;
bottom:0;
right:0;
/*矢印の形状*/
width:1px;
height: 50px;
background:#eee;
}

